@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dim($ln, $hg){
    width: $ln;
    height: $hg;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
  }
body{
    background-color: #222222;
}
header{
    box-shadow: inset -5px 5px 10px #1e1e1e,
            inset 5px -5px 10px #262626;
    text-align: center;
    font-size: 2rem;
    padding: 5vh 2vw;
    color: #252525;
    border-radius: 20px;
    margin: 5px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    h1 {
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: #222222;
      }
}
.banner{
    color: #222;
    text-align: center;
    padding: 3vh 1vw;
    font-size: 1.2rem;
    margin: 1vh 1vw;
    border-radius: 10px;
    background-color: rgb(48, 250, 48);
    .restart{
        width: 100%;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        display: none;
    }
}
.game_container{
    display: grid;
    margin: 5vh 1vw 0 1vw;
    height: 56vh;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2px;
    .box{
        background-color: #262626;
        border-radius: 10px;
        cursor: pointer;
    }
}
hr{
    margin-top: 3vh;
    width: 90%;
    border: 1px solid rgb(48, 250, 48);
}